.about {
  width: 90%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0.09)
  );
  border-radius: 20px;
  margin: 20px;
}

.about .header {
  width: 90%;
  padding: 10px;
  justify-content: space-between;
}

.about .contentWrapper {
  width: 90%;
  padding: 10px;
}

.about .contentWrapper .content {
  width: 50%;
}

.about .contentWrapper .content .avatar {
  border-radius: 50%;
  border: 3px solid aquamarine;
  width: 200px;
  height: 200px;
}

.about .contentWrapper .content .list {
}
